// blue-gray #2C3E50

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    a {
        color: #05070F;
    }
}

nav {
    position: static;
    opacity: 1;
    visibility: visible;
    float: right;
    background-color: transparent;
    a {
        display: inline-block;
        margin-top: 8px;
        padding: 0 0 0 1.5em;
        font-size: .9em;
        background-color: transparent;
        text-transform: uppercase;
        text-decoration: none;
    }
}

.container {
    max-width: 64em;
    margin: 0 auto;
    padding: 0 2em;
}

header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-description {
    font-size: 1.5em;
    max-width: 30em;
}

.header-link {
    font-weight: 400;
    font-size: .65em;
    text-transform: uppercase;
    letter-spacing: .06em;
    line-height: 2.25;
    a {
        text-decoration: none;
    }
}

.header-title {
    display: inline-block;
    font-size: .9em;
    letter-spacing: .02em;
    text-transform: uppercase;
}

.header-subtitle {
    margin-left: 5px;
    display: inline-block;
    font-size: .9em;
    font-spacing: .02em;
    font-weight: 100;
    text-transform: uppercase;
}

.info-content {
    display: flex;
    align-items: baseline;
    z-index: 1;
    padding: 1em 0;
}

.info-photo {
		max-width: 30%;
		border: 2px solid #2C3E50;
}

.info-title {
    width: 20%;
    margin: 0;
    font-size: 1em;
    text-transform: uppercase;
    align-self: flex-start;
}

.info-description {
    width: 80%;
    font-size: 1.25em;
}

.main-featured-background {
    height: 550px;
    background: #2C3E50;
}

.main-featured-description {
    position: relative;
    z-index: 2;
    color: #F7F7F5;
}

.main-notes {
    padding-top: 3em;
    background-color: #FFF;
}

.main-notes-date {
    float: left;
    width: 20%;
    margin: 0;
    line-height: 2.25;
}

.main-notes-description {
    width: 80%;
    font-size: 1.25em;
}

.main-notes-post {
		height: 170px;
    display: flex;
    align-items: baseline;
    z-index: 1;
    border-bottom: 1px solid #DDD;
    padding: 2em 0;
}

.main-notes-post:last-of-type {
    border-bottom: none;
}

.main-notes-title {
    margin: 0;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.footer-flex {
		padding: 75px;
	  background-color: #2C3E50;
	  text-align: center;;
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				display: flex;
				justify-content: center;
			}
	}

.footer-info {
    font-size: 80%;
    letter-spacing: .02em;
    color: #fff;
}

.page-title {
		padding-top: 1em;
    margin: 0 0 .75em;
    font-size: 1.5rem;
    letter-spacing: .02em;
		text-transform: uppercase;
}

.page-title:after {
    content: "";
    display: block;
    margin: 1.5em 0;
    width: 2.5em;
    height: 1px;
    background-color: currentColor;
}

.social {

		padding: 15px;
		color: white;
}

.text-emphasis {
    font-size: 1.5rem;
}

// flexbox sticky footer

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}
